@model IEnumerable<Exam_Paper.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Contacts", FormMethod.Get))
    {
        <div class="form-inline">
            <input type="text" name="key" class="form-control" value="@ViewBag.key" />&nbsp;
            <button type="submit" class="btn btn-success">
                Tim kiem
            </button>
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Contact name","Index",new
       {
           sortOrder = ViewBag.NameSortParm,
          
       })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
